# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/ venv/ env/ */.venv/ */venv/ */env/
py*/          # e.g., py311/

# Native/Binaries
*.pyd
*.dll
*.lib
*.so
*.dylib

# Builds/Logs
build/ dist/ wheels/ *.log

# IDE/OS
.vscode/ .idea/
*.user *.suo
.DS_Store Thumbs.db
