# Ignore everything by default
/*

# Allow only these:
!.gitignore
!.gitattributes
!README.md
!LICENSE
!requirements.txt
!pyproject.toml
!setup.cfg
!main.py
!app/**           # your FastAPI package if you have it
!src/**           # or src layout
!scripts/**       # utility scripts
!.github/**       # CI
!assets/**        # only small assets
